name: "3 [on_workflow/PRO] Tests"

on:
  push:

defaults:
  run:
    working-directory: pro

jobs:
  type-check:
    name: "Type check / Quality check / Style quality check"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
      - run: yarn install --immutable
      - run: yarn tsc -b
      - run: yarn lint:dead-code
      - run: yarn lint:js
      - run: yarn lint:scss

  tests-pro-unit-tests:
    name: "Unit tests"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - run: |
          git config --global --add safe.directory /__w/pass-culture-main/pass-culture-main
          git fetch --no-tags origin +refs/heads/master:refs/remotes/origin/master
          git update-ref refs/heads/master refs/remotes/origin/master
      - uses: actions/setup-node@v4
        with:
          node-version-file: "pro/.nvmrc"
      - run: yarn install --immutable
      - name: Run tests with coverage
        run: yarn test:unit:ci

      - name: "Upload Allure results for pro tests"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-results-pro-unit
          path: allure-results

