@use "styles/mixins/_rem.scss" as rem;

.image-preview-shell {
  position: absolute;
  height: rem.torem(170px);
  z-index: 0;
}

.image-preview-home-preview {
  position: absolute;
  top: rem.torem(87px);
  left: rem.torem(6px);
  width: rem.torem(27.25px);
  background-color: var(--color-white);
  border-radius: rem.torem(1.49px);
}
